parameters:
	ignoreErrors:
		-
			message: '#^Method KnpU\\OAuth2ClientBundle\\Client\\OAuth2ClientInterface\:\:redirect\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Auth/Infrastructure/Http/Web/OidcConnectAction.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface\:\:getFlashBag\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Auth/Infrastructure/Security/OidcAuthenticator.php

		-
			message: '#^Method GardenManager\\Auth\\Infrastructure\\Security\\OidcProvider\:\:__construct\(\) has parameter \$collaborators with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Auth/Infrastructure/Security/OidcProvider.php

		-
			message: '#^Method GardenManager\\Auth\\Infrastructure\\Security\\OidcProvider\:\:__construct\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Auth/Infrastructure/Security/OidcProvider.php

		-
			message: '#^Method GardenManager\\Auth\\Infrastructure\\Security\\OidcProvider\:\:checkResponse\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Auth/Infrastructure/Security/OidcProvider.php

		-
			message: '#^Method GardenManager\\Plant\\Domain\\Enum\\LifecycleEnum\:\:getValidValues\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plant/Domain/Enum/LifecycleEnum.php

		-
			message: '#^Class GardenManager\\Plant\\Infrastructure\\Persistence\\PlantDoctrineRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: TEntityClass$#'
			identifier: missingType.generics
			count: 1
			path: src/Plant/Infrastructure/Persistence/PlantDoctrineRepository.php

		-
			message: '#^Class GardenManager\\Seller\\Application\\Query\\ListSellersQuery implements generic interface GardenManager\\Shared\\Application\\PaginatedQueryInterface but does not specify its types\: TResult$#'
			identifier: missingType.generics
			count: 1
			path: src/Seller/Application/Query/ListSellersQuery.php

		-
			message: '#^The @implements tag of class GardenManager\\Seller\\Application\\Query\\ListSellersQuery describes GardenManager\\Shared\\Application\\QueryInterface but the class implements\: GardenManager\\Shared\\Application\\PaginatedQueryInterface$#'
			identifier: generics.wrongParent
			count: 1
			path: src/Seller/Application/Query/ListSellersQuery.php

		-
			message: '#^Method GardenManager\\Shared\\Domain\\Exception\\Contract\\ContextCarrierExceptionInterface\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shared/Domain/Exception/Contract/ContextCarrierExceptionInterface.php

		-
			message: '#^Method GardenManager\\Shared\\Domain\\Exception\\CoreException\:\:__construct\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shared/Domain/Exception/CoreException.php

		-
			message: '#^Method GardenManager\\Shared\\Domain\\Exception\\CoreException\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shared/Domain/Exception/CoreException.php

		-
			message: '#^Call to an undefined method GardenManager\\Shared\\Domain\\Exception\\Contract\\HttpStatusCodeCarrierExceptionInterface\:\:getCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Shared/Infrastructure/EventListener/HttpStatusCodeCarrierExceptionListener.php

		-
			message: '#^Call to an undefined method GardenManager\\Shared\\Domain\\Exception\\Contract\\HttpStatusCodeCarrierExceptionInterface\:\:getMessage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Shared/Infrastructure/EventListener/HttpStatusCodeCarrierExceptionListener.php

		-
			message: '#^Parameter \#3 \$previous of static method Symfony\\Component\\HttpKernel\\Exception\\HttpException\:\:fromStatusCode\(\) expects Throwable\|null, GardenManager\\Shared\\Domain\\Exception\\Contract\\HttpStatusCodeCarrierExceptionInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Shared/Infrastructure/EventListener/HttpStatusCodeCarrierExceptionListener.php

		-
			message: '#^Method GardenManager\\Shared\\Infrastructure\\Form\\DataTransformer\\AddressTransformer\:\:reverseTransform\(\) has parameter \$value with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shared/Infrastructure/Form/DataTransformer/AddressTransformer.php

		-
			message: '#^Method GardenManager\\Shared\\Infrastructure\\Form\\DataTransformer\\AddressTransformer\:\:transform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shared/Infrastructure/Form/DataTransformer/AddressTransformer.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Symfony\\\\Component\\\\Uid\\\\Ulid'' and Symfony\\Component\\Uid\\Ulid will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Plant/Domain/PlantTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with DateTimeImmutable will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Plant/Domain/PlantTest.php

		-
			message: '#^Method GardenManager\\Tests\\Shared\\Infrastructure\\Logging\\ExceptionContextLogProcessorTest\:\:createRecord\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest.php

		-
			message: '#^Method RuntimeException@anonymous/tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest\.php\:100\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest.php

		-
			message: '#^Method RuntimeException@anonymous/tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest\.php\:107\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest.php

		-
			message: '#^Method RuntimeException@anonymous/tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest\.php\:135\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest.php

		-
			message: '#^Method RuntimeException@anonymous/tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest\.php\:142\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest.php

		-
			message: '#^Method RuntimeException@anonymous/tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest\.php\:83\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Shared/Infrastructure/Logging/ExceptionContextLogProcessorTest.php
